<?xml version="1.0"?>
<configuration>
<appSettings>
    <add key="ExtractionPath" value="C:\Users\Melly\Desktop\SWTOR" />
    <add key="MaxOperationThread" value="2" />
    <add key="MultiThreadedExtraction" value="False" />
</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
