<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Path to the asset files -->
    <add key="AssetsPath" value="C:\Program Files (x86)\Electronic Arts\BioWare\Star Wars - The Old Republic\Assets\" />

    <!-- Load the prototype nodes -->
    <add key="LoadPrototypeNodes" value="true"/>
  </appSettings>
</configuration>